*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'open sans';
}

.conteiner{
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin:auto;
  overflow: hidden;
}

.titulo{
  color:white;
  font-size: 150px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline wavy white;
  -webkit-text-stroke: 1px black;
}

header{
  background-image:url(https://i.pinimg.com/originals/2d/19/93/2d1993df6ddebd6e676f128247be7c79.jpg);
  width: 100%;
  height: 1000px;
  /*background: #11998e;
  background: -webkit-linear-gradient(to right, hsla(143, 85%, 58%, 0.61), hsla(175, 80%, 33%, 0.603)),url(../img/imagen1.jpg); 
  background: linear-gradient(to right, hsla(143, 85%, 58%, 0.61), hsla(175, 80%, 33%, 0.603)),url(../img/imagen1.jpg); 
  */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav{
  text-align: right;
  padding: 30px 50px 0 0;
}

.btn{
 color: rgb(18, 168, 38);
 font-weight: 300;
 text-decoration: none;
 margin-right: 10px;
 font-size: 25px!important;
 -webkit-text-stroke: 2px black;
}

header .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn:hover{
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #c01313);
  background-image: -moz-linear-gradient(top, #2079b0, #c70f0f);
  background-image: -ms-linear-gradient(top, #2079b0, #e70c0c);
  background-image: -o-linear-gradient(top, #2079b0, #d40e0e);
  background-image: linear-gradient(to bottom, #2079b0, #c02525);
  text-decoration: underline;
}


