
	body{
		background-image:url('https://wallpaperaccess.com/full/1844074.jpg');
		font-family: 'Dancing Script', cursive!important;
		font: normal 14px Roboto,arial,sans-serif;
		
	}
	
	.user_card {
		background-color: rgba(0,0,0,0.55);
		padding-top: 100px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 15px;
		border-color:#d2d2d2;
		border-width: 5px;
		color:white;
		box-shadow:0 1px 0 #cfcfcf;
		margin-top: 100px;
		margin-bottom: auto;
		position: relative;
		box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
 		text-align: center;
		border:0 solid #fff; 
 		border-bottom-width:1px;
 		padding-bottom:10px;
		/*height: 400px;
		width: 350px;
		margin-top: 100px;
		margin-bottom: auto;
		background: #f39c12;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;*/
	}
	.brand_logo_container {
		position: absolute;
		height: 170px;
		width: 170px;
		top: -75px;
		border-radius: 50%;
		background-color: rgba(0,0,0,0.55);
		padding: 10px;
		text-align: center;
	}
	.brand_logo {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 2px solid white;
	}
	.input_user{
		font-size: 25px!important;
	}
	.input_pass{
		font-size: 25px!important;
	}
	.form_container {
		margin-top: 50px;
		background:transparent!important;
    	font-size: 25px!important;
	}
	.login_btn {
		width: 100%;
		background: #c0392b !important;
		color: white !important;
		font-size: 25px!important;
	}
	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}
	.login_container {
		padding: 0 2rem;
	}
	.input-group-text {
		background: #c0392b !important;
		color: white !important;
		border: 0 !important;
		border-radius: 0.25rem 0 0 0.25rem !important;
	}
	.input_user,
	.input_pass:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}
	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
		background-color: #c0392b !important;
	}